.hero{
  text-align: center;

  &__title {
    font-size: 40px;
  }

  &__button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    color: #fff;
    background-color: #f05a28;

    transition: filter 0.3s;

    &:hover {
      filter: brightness(90%);
    }
  }
}
